DISCORD_BOT_TOKEN=your-bot-token-here
DISCORD_GUILD_ID=your-server-id-for-faster-command-sync
MAX_MESSAGES_PER_CHANNEL=250
PROJECTS_FORUM_CHANNEL_ID=1437522107075395775
CREATOR_ALIASES=locodev,locodevbot,loco
DUB_API_KEY=dub_N9su5NUeEjEohHGdKZz2grcB
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1487210083518779472/z66909S9BwtLf408gyRJCLvUix7NM6uZPL_0ENg2LJEe4uImpPniKwvCVR-tvumncCsy
DUB_TIMEZONE=America/Sao_Paulo
DUB_REPORT_LIMIT=5
DUB_FETCH_LIMIT=200
DUB_EXCLUDED_KEYS=_root
DISCORD_WEBHOOK_USERNAME=Dub Daily Report
DISCORD_DM_USER_ID=your-discord-user-id-for-bot-dms
